/* first section */
.first-coupon-section{
    background-image: url(./assets/discount-page/Mobile-Widget-No-Mountain-Van--e1602621353961\ 1.svg);
}

.linear-bg{
    height: inherit;
    height: 304px;
    background: linear-gradient(89.73deg, #FBCE6F 25.72%, rgba(251, 206, 111, 0) 86.93%);
}

.line-height{
    line-height: 55px;
}

.bottom-line-2{
    border: 1px solid #666666;
    width: 100%;
}

/* tip by author */
.tip{
    background: #E66234;
}

/* coupon */
.discount-coupon{
    border: 1px solid #BFBFBF
}
.gradient-font{
    background: linear-gradient(180deg, #AD2929 -9.52%, #E96535 54.82%, #C94725 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.badge-bg{
    background-color: #fbbf24;
    color: black;
}
.badge-bg-2{
    background: #FDE7B8;
    color: black;
}

/* accordion bootstrap codepen */
/* .accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
  }
  
  .accordion-button::after {
    transition: all 0.5s;
  }
   */
